<% content_for(:title, "Stack Underflow") %>


<h1 class="text-center">Stack Underflow</h3>
<p class="text-center"> <%= link_to "Back to Stack Underflow Questions", questions_path %></p>

<pre><p id="description"> <%= @question.description %> </p></pre>


<div class="list-group">
  <% if current_user %>
    <%= link_to "Reply", new_question_answer_path(@question), :class => "btn btn-success btn-lg", id: "reply_to_q", remote: true %>
  <% end %>
</div>


<div id="answers">
  <% @question.answers.reverse_each do |answer| %>
    <blockquote><font size="2">
      <p id="answer_<%= answer.id %>"><%= "#{answer.description}" %></p></font>
      <footer> answered by <strong><%= "#{answer.user.user_name}" %></strong></footer>
      <%= link_to "(remove)", question_answer_path(@question, answer), method: :delete, data: {confirm: "Are you sure?"}, id: "remove_a", remote: true %>
    </blockquote>
  <% end %>
</div>




<br>
