- content_for(:title, "Stack Underflow")

%h1.text-center Stack Underflow
%p.text-center
  = link_to "Back to Stack Underflow Questions", questions_path

%pre
  %p#description
    %strong
      Topic: #{@question.topic}
      / %br
      Question:
    #{@question.description}
    %br/
    BY #{@question.user.user_name} @ #{@question.created_at.localtime.strftime("%d %b. %Y, %I:%M%p")}

.list-group
  - if current_user
    = link_to "Reply", new_question_answer_path(@question), :class => "btn btn-success btn-lg", id: "reply_to_q", remote: true

#answers
  - @question.answers.reverse_each do |answer|
    %blockquote{id:"answer_#{answer.id}"}
      %font{size:"2"}
        = "#{answer.description}"
      %footer
        answered by
        %strong
          = "#{answer.user.user_name}"
        @ #{"#{answer.created_at.localtime.strftime("%d %b. %Y, %I:%M%p")}"}
      %font{size:"1"}
        = link_to "(remove)", question_answer_path(@question, answer), method: :delete, data: {confirm: "Are you sure?"}, id: "remove_a", remote: true

%br/
